USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_THEO_MA_KH]    Script Date: 06/18/2018 15:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[STK_MAT_THEO_MA_KH]
 @makh nvarchar(50)
     
AS
BEGIN
      SET NOCOUNT ON;
      SELECT --,ID
			THONGBAOSTK.TK AS TK
			,THONGBAOSTK.SERIAL AS SERIAL
			,THONGBAOSTK.DV_CAP_STK AS DV_CAP_STK
			,THONGBAOSTK.CN_CAP_STK AS CN_CAP_STK
			,THONGBAOSTK.SO_DU AS SO_DU
			,THONGBAOSTK.NGAY_KH_BAO AS NGAY_KH_BAO
			,THONGBAOSTK.NGAY_TIM_THAY AS NGAY_TIM_THAY
			,THONGBAOSTK.TINH_TRANG AS TINH_TRANG
			--,CN_LOAI2_GUI
			--,CN_LOAI1_GUI
			,THONGBAOSTK.NGAY_CAP_SO AS NGAY_CAP_SO
			,THONGBAOSTK.SO_TB_MAT_CN_LOAI2 AS SO_TB_MAT_CN_LOAI2
			,THONGBAOSTK.NGAY_BAO_MAT_CN_LOAI2 AS NGAY_BAO_MAT_CN_LOAI2
			,THONGBAOSTK.SO_TB_THAY_CN_LOAI2 AS SO_TB_THAY_CN_LOAI2
			,THONGBAOSTK.NGAY_BAO_THAY_CN_LOAI2 AS NGAY_BAO_THAY_CN_LOAI2
			,THONGBAOSTK.SO_TB_MAT_CN_LOAI1 AS SO_TB_MAT_CN_LOAI1
			,THONGBAOSTK.NGAY_BAO_MAT_CN_LOAI1 AS NGAY_BAO_MAT_CN_LOAI1
			,THONGBAOSTK.SO_TB_THAY_CN_LOAI1 AS SO_TB_THAY_CN_LOAI1
			,THONGBAOSTK.NGAY_BAO_THAY_CN_LOAI1 AS NGAY_BAO_THAY_CN_LOAI1
			,THONGBAOSTK.XU_LY AS XU_LY
		FROM THONGBAOSTK,TAIKHOAN
		WHERE THONGBAOSTK.TK = TAIKHOAN.SOTK AND TAIKHOAN.MAKH = @makh
END





