USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_GIAYHEN_SELECT]    Script Date: 06/18/2018 11:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_GIAYHEN_SELECT]
@MAPB NVARCHAR(10)
AS
SELECT 
*
FROM DVGIAYHEN WHERE MAPB = @MAPB