USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_GIAYHEN_UPDATE]    Script Date: 06/18/2018 11:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_GIAYHEN_UPDATE]
@MAPB NVARCHAR(10),
@GIAYTO1 NVARCHAR(MAX),
@GIAYTO2 NVARCHAR(MAX),
@GIAYTO3 NVARCHAR(MAX),
@GIAYTO4 NVARCHAR(MAX),
@GIAYTO5 NVARCHAR(MAX)
AS
IF EXISTS (SELECT 1 FROM DVGIAYHEN WHERE MAPB = @MAPB)
UPDATE DVGIAYHEN SET
GIAYTO1 = @GIAYTO1,
GIAYTO2 = @GIAYTO2,
GIAYTO3 = @GIAYTO3,
GIAYTO4 = @GIAYTO4,
GIAYTO5 = @GIAYTO5
WHERE MAPB = @MAPB
ELSE
INSERT INTO DVGIAYHEN (MAPB, GIAYTO1,GIAYTO2,GIAYTO3,GIAYTO4,GIAYTO5) 
VALUES (@MAPB, @GIAYTO1, @GIAYTO2, @GIAYTO3, @GIAYTO4,@GIAYTO5)