USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_GIAOTHE]    Script Date: 05/29/2018 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_GIAOTHE]
@ID int,
@NGAYGIAO DATETIME
AS
UPDATE THEODOITHE
SET
NGAYGIAOTHE = @NGAYGIAO
WHERE ID = @ID