USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_LAYTHONGTINTHE]    Script Date: 05/29/2018 16:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_LAYTHONGTINTHE]
@ID int
AS
SELECT THEODOITHE.*, HOTEN FROM THEODOITHE, KHACHHANG,TAIKHOAN
WHERE 
THEODOITHE.SOTK = TAIKHOAN.SOTK and
TAIKHOAN.MAKH = KHACHHANG.MAKH and
ID = @ID
