USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_THETHEOMAKH]    Script Date: 05/29/2018 16:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_THETHEOMAKH]
@MAKH NVARCHAR(20)
AS
SELECT
--ROW_NUMBER() over (ORDER BY HOTEN) as STT,
ID,
HOTEN,
THEODOITHE.SOTK,
SOTHE,
LOAITHE,
NGAYDANGKY,
NGAYNHANTHE,
NGAYGIAOTHE

FROM DBO.KHACHHANG, dbo.THEODOITHE,dbo.TAIKHOAN
WHERE 
KHACHHANG.MAKH = @MAKH AND
KHACHHANG.MAKH = TAIKHOAN.MAKH AND
TAIKHOAN.SOTK = THEODOITHE.SOTK
