USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_TOVANCHUYEN_MAPB]    Script Date: 06/06/2018 16:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[DV_TOVANCHUYEN_MAPB]
@MAPB NVARCHAR(10)
AS
SELECT * FROM TOVANCHUYEN WHERE MAPB = @MAPB