USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_THETHEOCMND]    Script Date: 05/29/2018 16:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_THETHEOCMND]
@CMND NVARCHAR(20)
AS
SELECT
--ROW_NUMBER() over (ORDER BY HOTEN) as STT,
ID,
HOTEN,
THEODOITHE.SOTK,
SOTHE,
LOAITHE,
NGAYDANGKY,
NGAYNHANTHE,
NGAYGIAOTHE

FROM DBO.KHACHHANG, dbo.THEODOITHE,dbo.TAIKHOAN
WHERE 
KHACHHANG.CMND = @CMND AND
KHACHHANG.MAKH = TAIKHOAN.MAKH AND
TAIKHOAN.SOTK = THEODOITHE.SOTK
