USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_NHANTHE]    Script Date: 05/29/2018 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_NHANTHE]
@ID int,
@SOTHE NVARCHAR(20),
@NGAYNHAN DATETIME
AS
UPDATE THEODOITHE
SET
SOTHE = @SOTHE,
NGAYNHANTHE = @NGAYNHAN
WHERE ID = @ID