USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_XOATHE_THEOSOTK_LOAITHE]    Script Date: 05/29/2018 16:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DV_XOATHE_THEOID]
@ID int
AS
DELETE FROM THEODOITHE
WHERE ID = @ID