USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_NHANVIEN_HOATDONG]    Script Date: 06/22/2018 13:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[UPDATE__USER_HOATDONG]
@tbl_USER _USERType READONLY
AS

BEGIN		
      SET NOCOUNT ON;
      UPDATE _USER SET KICHHOAT = 0
      WHERE NOT EXISTS (SELECT USER_ID FROM @tbl_USER AS us WHERE _USER.USER_ID = us.USER_ID)
	  
END


